section(class="chat-window")
	div(id="header")
		ul(id="chat-header")
			li(id="header-item")
				img(src="public/img/myAvatar.png" alt="" id="avatar-header")
				h1(id="nickname-header") Conversation
	hr(id="header-divider")
	div(id="conversation")
		ul(id="messages")