doctype html
html
	include layouts/header.pug
	body
		span Current user:
			h3=  user.nickname
		include layouts/sidebar.pug
		include layouts/chat-window.pug
		include layouts/footer-message.pug
		//script for import socketio
		script(src="/socket.io/socket.io.js")
		//script for implement the connection with the socket and get the users connected
		script.
			socket = io.connect(window.location.origin, {query:'loggeduser=#{user.id}'})

			socket.on('count_updated', function (data) {
				document.querySelector('#connected').innerHTML = data.count-1
			})