doctype html
html
	head
		title Welcome!
	body
		h1= user.nickname
		p
			span Usuarios conectados:
			span#connected
		form(action="/sessions?_method=DELETE" method="POST")
			input(type="submit" value="Cerrar sesión")
		//script for import socketio
		script(src="/socket.io/socket.io.js")
		//script for implement the connection with the socket and get the users connected
		script.
			socket = io.connect(window.location.origin, {query:'loggeduser=#{user.id}'})

			socket.on('count_updated', function (data) {
				document.querySelector('#connected').innerHTML = data.count
				console.log('Usuario conectado o desconectado')
			})