doctype html
html
	head
		title Chats
	body
		ul
			each chat in chats
				li= chat.body
		form(action=`/chats?_method=DELETE` method="POST")
			input(type="submit" value="Eliminar todos los mensajes")